<a href="https://colab.research.google.com/github/Saibot19/Organizaci-n-de-Datos-Rodriguez-Grupo-21-/blob/TP1/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("hotels_test.csv")

In [ ]:
df

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,id
0,City Hotel,277,2016,November,46,7,1,2,2,0.0,...,NaN,NaN,0,Transient,100.00,0,0,Canceled,2016-04-04,e6d0d58a-ab96-44d3-b28f-85df1cc15f1e
1,City Hotel,286,2016,May,20,11,0,4,2,0.0,...,30.0,NaN,176,Transient-Party,101.00,0,0,Canceled,2016-01-22,aba9aac2-4495-4645-a60e-90328713c999
2,City Hotel,0,2016,August,35,23,0,1,3,0.0,...,NaN,NaN,0,Transient,225.00,0,2,Check-Out,2016-08-24,b345b5dc-c804-4d77-a39f-1f4e65d1f1ad
3,Resort Hotel,196,2016,October,44,29,2,5,2,2.0,...,240.0,NaN,0,Transient,96.00,0,0,Check-Out,2016-11-05,ce1b400e-afa1-4946-bdff-004b859eb61c
4,Resort Hotel,232,2016,November,48,26,2,1,2,0.0,...,11.0,NaN,0,Transient,30.00,0,0,Canceled,2016-10-18,c4fbec0d-8e2e-4db2-9d4f-a6ccb9f51214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26530,City Hotel,31,2017,April,16,21,2,3,2,0.0,...,21.0,NaN,0,Transient-Party,85.00,0,0,Check-Out,2017-04-26,636ccded-66ad-4538-8006-c0b9f84c6256
26531,City Hotel,130,2016,September,36,3,2,1,2,0.0,...,42.0,NaN,0,Transient,80.75,0,0,Check-Out,2016-09-06,11e19741-bd28-4459-8ea3-184f1664000f
26532,Resort Hotel,45,2016,August,35,22,1,1,2,0.0,...,240.0,NaN,0,Transient,231.00,0,0,Canceled,2016-08-04,36a4c7b0-d6b1-4528-93db-311be96ec1c6
26533,City Hotel,164,2017,August,32,10,2,4,2,0.0,...,85.0,NaN,0,Transient,80.10,0,0,Canceled,2017-03-07,89c85fa5-2b3d-4131-844c-e151a65ca240
26534,Resort Hotel,136,2016,March,13,24,0,3,2,0.0,...,387.0,NaN,0,Transient-Party,84.00,0,0,Check-Out,2016-03-27,bd4e9eee-f28e-4a53-b4a1-277426efbcee

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26535 entries, 0 to 26534
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           26535 non-null  object
 1   lead_time                       26535 non-null  int64
 2   arrival_date_year               26535 non-null  int64
 3   arrival_date_month              26535 non-null  object
 4   arrival_date_week_number        26535 non-null  int64
 5   arrival_date_day_of_month       26535 non-null  int64
 6   stays_in_weekend_nights         26535 non-null  int64
 7   stays_in_week_nights            26535 non-null  int64
 8   adults                          26535 non-null  int64
 9   children                        26535 non-null  float64
 10  babies                          26535 non-null  int64
 11  meal                            26535 non-null  object
 12  country                         26440 non-null  object
 13  market_segment                  26535 non-null  object
 14  distribution_channel            26535 non-null  object
 15  is_repeated_guest               26535 non-null  int64
 16  previous_cancellations          26535 non-null  int64
 17  previous_bookings_not_canceled  26535 non-null  int64
 18  reserved_room_type              26535 non-null  object
 19  assigned_room_type              26535 non-null  object
 20  booking_changes                 26535 non-null  int64
 21  deposit_type                    26535 non-null  object
 22  agent                           23172 non-null  float64
 23  company                         1317 non-null   float64
 24  days_in_waiting_list            26535 non-null  int64
 25  customer_type                   26535 non-null  object
 26  adr                             26535 non-null  float64
 27  required_car_parking_spaces     26535 non-null  int64
 28  total_of_special_requests       26535 non-null  int64
 29  reservation_status              26535 non-null  object
 30  reservation_status_date         26535 non-null  object
 31  id                              26535 non-null  object
dtypes: float64(4), int64(15), object(13)
memory usage: 6.5+ MB